<h2>Edit Assignemnt:</h2>

<form action='/assignments/<%=@assignment.id%>' method="POST">
    <input type="hidden" name="_method" value="PATCH">
    
    <p>
    <label for="title">Title: </label>
    <input type="text" name="assignment[title]" id='assignment_title' value="<%=@assignment.title%>"><br>
    </p>

    <p>
    <label for="content">Content: </label>
    <textarea name="assignment[content]" value="<%=@assignment.content%>" id="assignment_content" rows="4" cols="50" ><%=@assignment.content%></textarea><br>
    </p>

    <p>
        <label for="students_assigned">Update Grades for this Assignment:</label>
        <% @students.each do |student| %>
        <input type="text" name="student[grade]" value="<%=@assignment.student.grade%>" id="student_grade">
        <%end%>
    </p>

            <input type='submit' value='Edit Assignment'>
</form>
<br>

<form action="/assignments/<%=@assignment.id%>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="submit" value="Delete Assignment">
    </form>


    <!-- Add form action="/assignments-students" method="POST" for  grades > --> 


<br>
<br>
<p><a href="/assignments" ><button>View All Assignments</button></a></p>
<p><a href="/teachers/<%=current_user.slug%>" ><button>View Your Assignments</button></a></p>
<p><a href="/teachers" ><button>View All Teachers</button></a></p>
<p><a href="/logout" ><button>Log Out</button></a></p>