<div class="container mt-2 p-4 mx-auto bg-white text-dark" style="width: 568px" aria-describedby="main_div">
    <form action='/assignments/<%=@assignment.id%>' method="POST">
        <input type="hidden" name="_method" value="PATCH">
        <h5>Edit Assignemnt:</h5>
        <div class="form-group">
            <label for="title">Title: </label>
            <div class="sol-sm-9">    
                <input class="form-control" type="text" name="assignment[title]" id='assignment_title' value="<%=@assignment.title%>">
            </div>
            <div class="form-control">
                <label for="content">Content: </label>
                <div class="col-sm-9">
                    <textarea name="assignment[content]" value="<%=@assignment.content%>" id="assignment_content" rows="4" cols="50" ><%=@assignment.content%></textarea>
                </div>
                <div class="form-control">
                    <label for="students_assigned">Update Grades for this Assignment:</label>
                    <div class="container mx-auto bg-white text-dark"></div>
                    <% @students.each do |student| %>
                    
                        <label for="student_grade"><%= student.lname %>, <%= student.fname %></label>
                        <% @assignment.assignments_students.each do |assignment| %>
                            <%if assignment.student_id == student.id %>
                                <input  class="form-control" type="text" name="students[<%=student.id%>][grade]" id="student_grade" value="<%= assignment.grade %>">
                            <% end %>
                        <% end %>
                    <% end %>
                    </div>
                </div>

                    <button class="btn btn-primary btn-sm mt-3" type='submit' value='Edit Assignment'>Submit Edit</button>

    </form>

    <form action="/assignments/<%=@assignment.id%>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button class="btn btn-danger btn-sm mt-3" type="submit" name="submit" value="Delete Assignment" id="main_div" style="float: right;">Delete Assignment</button>
    </form>
</div>
