<div class="container mt-5 p-4 mx-auto bg-white text-dark" style="width: 568px;">

    <h4><%=@assignment.title%></h4>
    <%=@assignment.content%><br>
    <a href="/teachers/<%=@teacher.slug%>"<em>created by - <%=@teacher.fname%> <%=@teacher.lname%></em></a>

    <h5>Students With This Assignment:</h5>
    <% @assignment.assignments_students.each do |assignment| %>
        <% Student.all.each do |student| %>
            <% if student.id == assignment.student_id %>
                <a href="/students/<%= student.slug %>" ><%= student.lname %>, <%= student.fname %> -- <%= assignment.grade %></a><br>
            <% end %>
        <% end %>
    <% end %>    
    <a href="/assignments/<%=@assignment.id%>/edit" ><button class="btn btn-primary btn-sm mt-3">Edit This Post</button></a>
</div>