<div class="container mt-5 p-4 mx-auto bg-white text-dark">

    <h4 class=" ">Assignments Created by: <%= @teacher.lname %>, <%= @teacher.fname %></h4>
    
    <% @teacher.assignments.each do |assignment| %>
        <div class="container mx-auto bg-white text-dark">
        <h2><%= assignment.title %><br></h2>
        <p><%= assignment.content %></p>
        <a href="/assignments/<%= assignment.id %>" ><button class="btn btn-primary btn-sm p-1">View</button></a>
        </div>
    <% end %>
    <a href="/assignments/new" ><button class="btn btn-primary btn-sm mt-3">Create New Assignment</button></a>
</div>


  
 
